<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>

<link rel="stylesheet" href="../styles/cart.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

<header class="site-header">

<div class="logo">
<span class="logo-main">Step</span>
<span class="logo-sub">Ordering</span>
</div>

<nav class="nav-links">

<a href="../index.html" class="nav-link">
<i class="fa-solid fa-house"></i>
Home
</a>

<a href="./cart.html" class="nav-link cart-btn">
<i class="fa-solid fa-cart-shopping"></i>
Cart
</a>
<button id="logout">Log out</button>
</nav>

</header>


<h2 class="cart-title">Your Cart</h2>

<div id="cartContainer"></div>

<h3 id="totalPrice"></h3>

<script src="../JS/cart.js"></script>

</body>
</html>