<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
     <form id="registration">
<input type="text" placeholder="phone number" id="phone">
<input type="password" placeholder="password" id="password">
 <button>Register</button>

 <a href="./login.html"> I already have account</a>
     </form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../JS/Register.js"></script>
</body>
</html>